/*!
* =====================================================
* Name: invite.css
* Author: Alvin
* Version: 1.0.0 
* Date: 2017-08-28 10:20
* =====================================================
*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	font-family: Helvetica;
	/*解决滚动、滑动时候页面卡*/
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	/*禁止横竖屏时内容自动调整大小*/
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	/*禁止选中文字*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	width: 100%;
	height: 100%;
	background: #F25610;
	max-width: 640px;
	margin: 0 auto;
	    padding-bottom: 10px;
	    overflow: auto;
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a:active, a:focus, input:active {
	outline: none;
}
button, input, textarea, input:active, input:focus, button, input:hover, input[type="button"] {
	/*清除点击时的阴影*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*表单元素的默认外观重置*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	outline: none;
}

/*placeholder颜色*/

::-webkit-input-placeholder {
	/* WebKit browsers*/
	color: #929292;
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18*/
	color: #929292;
}
::-moz-placeholder {
	/* Mozilla Firefox 19+*/
	color: #929292;
}
:-ms-input-placeholder {
	/* Internet Explorer 10+*/
	color: #929292;
}
input:focus::-webkit-input-placeholder {
	color: #929292;
}
input[disabled] {
	background: #aaa;
	color: #fff;
}

/*android 上去掉语音输入按钮*/

input::-webkit-input-speech-button {
	display: none
}
img {
	border: 0;
	/*禁止长按保存或拷贝图像*/
	-webkit-touch-callout: none;
}
ol, li {
	list-style: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.yuanjiao {
	border-radius: 5px;
}
body.hidden {
	overflow: hidden;
}

/*背景透明*/

.touming {
	background: rgba(0, 0, 0, 0.5) !important;
	background: #000;
	filter: alpha(opacity=50);
}

/*main css start*/
.container{margin-bottom: 15px;}
.banner {
	width: 100%;
	display: block;
}
.box-head {
	width: auto;
	margin: 10px 4px 0 4px;
	background: #e3290f;
	background-image: -webkit-linear-gradient(-90deg, #e92a0b 0, #bd2225 100%);
	background-image: -webkit-linear-gradient(top, #e92a0b 0, #bd2225 100%);
	background-image: linear-gradient(180deg, #e92a0b 0, #bd2225 100%);
	background-repeat: repeat-y;
	background-position: 50% 50%;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: auto auto;
	height: 20px;
	border-radius: 5px;
	padding-top: 6px;
}
.box-head .inner {
	background: #a31700;
	border-radius: 5px;
	height: 8px;
	margin: 0 2px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-50 {
	padding-top: 50px;
}
.box {
	background: #fff;
	margin: -10px 10px;
}
.phone, .phone:focus {
	font-family: PingFang-SC-Regular;
	font-size: 1rem;
	color: #333333;
	letter-spacing: 0.02px;
	text-align: center;
	display: block;
	margin: 0px 20px 30px 20px;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	padding: 10px 0;
	border: 1px solid #C8C9CD;
	border-radius: 5px;
	vertical-align: middle;
	line-height: 1.4;
}
input.button {
	background: #EA2A0B;
	border-radius: 5px;
	display: block;
	border: none;
	margin: 0 auto;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	font-size: 1.125rem;
	color: #FFFFFF;
	letter-spacing: 0.04px;
	line-height: 1.5rem;
	padding: 9px 0;
	max-width: 400px;
}
input.button.disable {
	background: #DCDCDC;
}
.ruletit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 30px auto 15px auto;
}
.ruletit img {
	width: 33%;
}
.ruletit div {
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	text-align: center;
	color: #EA2A0B;
	font-size: 1.125rem;
}
.rules {
	font-size: 0.875rem;
	color: #555555;
	padding: 0 10px 35px 10px;
	letter-spacing: 0.03px;
}
.rules li{margin-bottom: 5px;}
.failed1, .failed2 {
	text-align: center;
	font-family: PingFang-SC-Regular;
	color: #333333;
}
.failed1 h2,.failed2 h2 {
	font-size: 20px;
	letter-spacing: 0.04px;
	line-height: 1.5rem;
	font-weight: normal;
	padding-top: 30px;
}
.failed1 div, .failed2 div {
	font-size: 1rem;
	letter-spacing: 0.02px;
	line-height: 1.5625rem;
	margin: 4px auto 30px auto;
}
.failed2 div {
	padding-top: 44px;
	margin: 0 auto 30px auto;
}
.failed2 h2+div{padding-top: 20px;}
.hide, input.hide {
	display: none;
}

/*邀请记录*/

.jilu {
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.jilu .box-head {
	margin-top: 0;
}
.jilu .box-top {
	margin-bottom: 10px;
	padding-bottom: 14px;
	position: relative;
}
.jilu .box {
	text-align: center;
}
.jilu .box h2 {
	font-family: PingFang-SC-Semibold;
	font-size: 1.25rem;
	color: #333333;
	letter-spacing: 0.04px;
	text-align: center;
	font-weight: normal;
	padding: 20px 0 4px 0;
	position: relative;
	display: inline-block;
	z-index: 3;
	line-height: 1;
}
.jilu .box h2 div {
	background: #ebebeb;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 2%;
	height: 10px;
	z-index: -1;
}
.jilu input.button {
	margin: 30px auto 14px auto;
}
.link-rule {
	font-family: PingFang-SC-Regular;
	font-size: 1rem;
	color: #333333;
	letter-spacing: 0.03px;
	margin: 14px 0;
}
.link-rule img {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	vertical-align: middle;
}
.dec-1, .dec-2, .dec-3 {
	font-family: PingFang-SC-Regular;
	font-size: 0.875rem;
	color: #666666;
	letter-spacing: 0.03px;
}
.dec-1 {
	margin-top: 10px;
}
.jilu .box-bottom {
	padding-bottom: 10px;
}
.no-friends {
	width: 120px;
	height: 120px;
	display: block;
	margin: 40px auto 28px auto;
}
.dec-3 {
	margin-bottom: 58px;
}
.shadow {
	-moz-box-shadow: 0px 0px 10px #ccc;
	-webkit-box-shadow: 0px 0px 10px #ccc;
	box-shadow: 0px 0px 10px #ccc;
	width: 60%;
	margin: 20px auto;
}
.jilu .coupon {
	/*display: flex;
	align-content: center;
	align-items: center;*/
	position: relative;
	/*overflow: hidden;*/
	width: 70%;
	margin: 0px auto;
}
.jilu .coupon ul {
	display: flex;
}
.jilu .coupon ul li {
	position: relative;
}
.jilu .coupon img {
	width: 100%;
	display: block;
	margin: 0 auto;
}
.jilu .coupon .ll {
	width: 30%;
	color: #fff;
	padding: 10px;
	font-size: 1.125rem;
	position: relative;
}
.jilu .coupon .rr {
	/*width: 70%;*/
	/*background: #fff;*/
	font-size: 1.125rem;
	text-align: right;
	position: absolute;
	z-index: 9;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.jilu .coupon.has-coupon .c-1, .jilu .coupon.no-coupon .c-2 {
	display: block;
}
.jilu .coupon.no-coupon .c-1, .jilu .coupon.has-coupon .c-2 {
	display: none;
}
.jilu .coupon.has-coupon .rr {
	color: #EA2A0B;
}
.jilu .coupon.no-coupon .rr {
	color: #cccccc;
}
.jilu .end, .jilu .end img {
	position: absolute;
	right: 0;
	top: 0;
	width: 140px;
	height: 140px;
	z-index: 88;
}
.jilu .end {
	top: 15px;
	overflow: hidden;
}

/*好友列表*/

.friend-list {
	padding: 24px 0 21px 0;
}
.friend-list li {
	display: flex;
	align-items: center;
	align-self: center;
	padding: 0 10px;
	margin-bottom: 15px;
}
.friend-list li:last-child {
	margin-bottom: 0;
}
.friend-list li .face {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-right: 10px;
}
.friend-list li .center {
	flex-grow: 1;
	text-align: left;
}
.friend-list li .center div {
	font-family: PingFangSC-Regular;
	font-size: 1rem;
	color: #333333;
	letter-spacing: 0.03px;
}
.friend-list li .center span {
	font-family: PingFang-SC-Regular;
	font-size: 0.875rem;
	color: #929292;
	letter-spacing: 0.03px;
}
.friend-list li .center span.failed{color: #FF2822;}
.friend-list li input.button {
	max-width: 74px;
	margin: 0 auto;
	font-size: 0.875rem;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 5px;
}
/*.friends,.friends-full{position: relative;padding-bottom: 15px;}*/
.friends-full .dec-3{margin-bottom: 8px;}
/*弹出框*/

.dialog {
	display: none;
	background: rgba(0, 0, 0, 0.8) !important;
	background: #000;
	filter: alpha(opacity=80);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	overflow: hidden;
}
.dialog-content {
	width: 80%;
	height: auto;
	max-height: 70%;
	overflow-y: auto;
	background: #fff;
	position: absolute;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 7px;
	padding: 24px 20px;
}
.dialog-content h2 {
	font-family: PingFang-SC-Regular;
	font-size: 1.25rem;
	color: #333333;
	letter-spacing: 0.04px;
	font-weight: normal;
	text-align: center;
}
.dialog-success {
	text-align: center;
}
.dialog-content .bi {
	font-family: PingFang-SC-Regular;
	font-size: 20px;
	color: #EA2A0B;
	letter-spacing: 0.04px;
	margin: 16px auto;
	line-height: 30px;
}
.dialog-content .bi span {
	line-height: 30px;
	vertical-align: middle;
}
.dialog-content .bi img {
	width: 30px;
	margin-right: 5px;
	vertical-align: middle;
}
.dialog-content .info {
	font-family: PingFang-SC-Regular;
	font-size: 1rem;
	color: #666666;
	letter-spacing: 0.03px;
	text-align: left;
	width: 90%;
	margin: 0 auto;
}
.dialog-content input.button {
	width: 100%;
	margin: 24px auto 0 auto;
}
.dialog-content .rules {
	font-size: 1rem;
	color: #666666;
	letter-spacing: 0.03px;
	padding: 15px 0 0 0;
	margin: 0 auto;
}
.dialog-content .rules li {
	margin-bottom: 5px;
}

/*main css end*/

@media screen and (width: 320px) {}
@media screen and (width: 360px) {}
@media screen and (width: 375px) {}
@media screen and (width: 384px) {}
@media screen and (width: 400px) {}
@media screen and (width: 414px) {}
@media screen and (width: 480px) {}
@media screen and (width: 540px) {}
@media screen and (width: 640px) {}
@media screen and (width: 720px) {}
@media screen and (width: 750px) {}
@media screen and (width: 800px) {}
@media screen and (width: 414px) and (height:660px) {
	/*三星*/
}
@media screen and (width: 320px) and (height:504px) {
	/*5s在微信下*/
}
@media screen and (width: 360px) and (height:532px) {
	/*华为 mate 7 / 9*/
}
@media screen and (min-width: 400px) {
	.jilu .coupon .rr {
		font-size: 1.25rem;
	}
	.dialog-content {
		padding: 24px 30px;
	}
	.rules{width: 80%;margin: 0 auto;}
}
@media screen and (min-width: 540px) {
	.jilu .end, .jilu .end img {
		width: 200px;
		height: 200px;
	}
}
@media screen and (max-width: 360px) {
	.jilu .end, .jilu .end img {
		width: 100px;
		height: 100px;
	}
}

/*竖屏时使用的样式*/

@media all and (orientation:portrait) {
	.css {}
}

/*横屏时使用的样式*/

@media all and (orientation:landscape) {
	.css {}
}